* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bg-light: #fff;
$bg-dark: #140220ec;
$bg-btn-dark: #000000;
$text-color-light: #ffffff;
$text-color-dark: #000000;
$border-color-light: #ffffff;
$border-color-dark: #000000;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $bg-dark;
    color: $text-color-light;

    &.dark {
        // background-color: $bg-light;
        background-color: #f1f5f9;
        color: $text-color-dark;
    }

    .header {
        width: 680px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        h1 {
            text-transform: uppercase;
        }

        button {
            padding: 8px;
            background-color: transparent;
            border: 2px solid $border-color-light;
            font-size: 1.3em;
            border-radius: 5px;
            color: $border-color-light;
            &:hover {
                background-color: $bg-light;
                color: $text-color-dark;
            }
            &.darkBtn {
                color: $border-color-dark;
                border-color: $border-color-dark;
                &:hover {
                    color: $text-color-light;
                    border: 2px solid $border-color-dark;
                    background-color: $bg-btn-dark;
                }
            }
        }
    }

    .descript {
        width: 628px;

        input#tela {
            width: 100%;
            padding: 15px;
            background-color: transparent;
            border: 2px solid $border-color-light;
            outline: none;
            color: $text-color-light;
            border-radius: 10px;
            text-align: right;
            font-size: 20.4px;
            font-family: "Times New Roman", Times, serif;
            font-weight: 900;
            &.darkColorInput {
                border-color: $border-color-dark;
                color: $text-color-dark;
                // background-color: #ffeaff;
            }
        }

        .btns {
            flex: 1 0 10px;
            display: grid;
            grid-template-columns: 4em 4em 4em 4em;
            gap: 10px 5.8em;
            margin-top: 15px;
            .btn {
                width: 150px;
                height: 60px;
                background-color: #19b119;
                border: 2px solid $border-color-light;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                font-size: 1.7em;
                font-family: "Times New Roman", Times, serif;
                border-radius: 15px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: #169916;
                    color: #eee;
                }
                &.colorWhite {
                    color: #ffff;
                    border-color: #000000;
                    background-color: #277e48;
                    font-weight: 700;
                }
            }
            .clearStyle,
            .igualStyle {
                @extend .btn;

                &.style {
                    @extend .colorWhite;
                }
            }
        }
    }

    .copy {
        margin-top: 15px;
        width: 620px;
        display: flex;
        margin-bottom: 1em;
        button#copy {
            width: 100px;
            height: 78px;
            border-radius: 0.5rem 0 0 0.5rem;
            background-color: transparent;
            color: $text-color-light;
            border-style: solid;
            border-color: $border-color-light;
            cursor: pointer;
            font-size: 18px;
            &.copyDark {
                color: $text-color-dark;
                border-color: $border-color-dark;
                font-weight: 600;
            }
        }
        input#result {
            width: 100%;
            outline: none;
            background-color: transparent;
            border-width: 2px 2px 2px 0;
            border-style: solid;
            border-color: $border-color-light;
            border-radius: 0 0.5rem 0.5rem 0;
            text-align: right;
            color: $text-color-light;
            padding-right: 3px;
            font-size: 1.6em;
            &.resultDark {
                border-color: $border-color-dark;
                color: #000000;
            }
        }
    }
}

.error {
    background-color: #ff0055 !important;
}

.success {
    border: 2px solid #13e913 !important;
    color: #13e913 !important;
}
